# Django 
# Modo depuración: True en desarrollo, False en producción
DEBUG=True

# Clave secreta de Django (cambia este valor en producción)
SECRET_KEY=cambia-esta-clave-secreta-en-produccion

# Base de datos PostgreSQL 
DB_NAME=minierp
DB_USER=minierp_user
DB_PASS=minierp_pass
